﻿@model Vidly.Models.ViewModels.Customer.CustomerViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Item.CustomerName</h2>
<ul>
    <li>
        Membership Type: @Model.Item.MembershipName
    </li>
    @if (Model.Item.BirthDate != null)
    {
        <li>
            Birthdate: @Model.Item.BirthDate.Value.ToString("dd/MM/yyyy")
        </li>
    }
</ul>

