﻿@model Vidly.Models.ViewModels.Customer.CustomerViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@if(!Model.Items.Any())
{
    <P> Currently we don't have any customer yet!</P>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.CustomerName, "Details", new { CustomerId = item.CustomerId })
                    </td>
                    <td>
                        @item.MembershipName
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

