﻿@model Vidly.Models.ViewModels.Movie.MovieViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Item.MovieName</h2>
<ul>
    <li>
        Genre: @Model.Item.GenreName
    </li>
    <li>
        Release Date: @Model.Item.ReleaseDate.ToString("D")
    </li>
    <li>
        Date Added: @Model.Item.DateAdded.ToString("D")
    </li>
    <li>
        Number in Stock: @Model.Item.NumberInStock
    </li>

</ul>
