﻿@model Vidly.Models.ViewModels.Movie.MovieViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!Model.Items.Any())
{
    <p>Currently we don't have any movie to rent</p>
}

<h1>Movies</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@Html.ActionLink(@item.MovieName, "Details", new { MovieId = item.MovieId} )</td>
                <td>@item.GenreName</td>
            </tr>
        }
    </tbody>
</table>

